@import url('https://fonts.googleapis.com/css2?family=Anta&family=DotGothic16&family=Gugi&family=Protest+Riot&display=swap');
*{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
html{
    --color1:#fa3c08;
    --color2:#678d6c;
    --color3:#fc7d23;
    --color4:#bd0a41;
    --color5:#772a53;

}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.logo{
    width: 200px ;
    height: 200px;
    display: flex;
    
}

.input{
    border: none;
    width: 320px;
    height: 50px;
    color: aliceblue;
}




.tamñoImg{
    width: 200px;
}

.Fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 412px;
    height: 800px;
    background: none;
    background-size: cover;
    margin:0;
    padding:0 ;
}


.NavbarContainer{
  display: flex;
  align-items: center;
  justify-content:space-between ;
    width: 412px;
    height: 60px;
    background:white;
    flex-wrap: wrap; 
    align-self: flex-end;
    margin-top: auto;
    text-align: center;
    bottom: 0;
    left: 0;
}


.logoDos{
    width: 35px;
    height: 35px;
}


.previ{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 150px;
    color: white;
    background: var(--color1);
    border-radius: 0px 0px 25px 25px;
}
.fallower{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.LoginCard{
    background: var(--color1);
    width: 100%;
    border-radius: 30PX 30PX 0PX 0PX;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    bottom: 0;
    left: 0;
    
}
.Loginfrom{
    margin-top: 15px;
    height: 80%;
    
}

.loginInput{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(11, 11, 11);
}

.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}
.HomePerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-file {
  color: transparent;
  outline: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  
 
}
.gallery{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 10px;
}
.rounded-image{
width: 100%;
}
.homeUpImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}


.HomeText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
border-radius:  25px 25px 0px 0px;
     background: var(--color5);
    color: white;
    
}


